<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.metropayment">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/metroicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/metroicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MetroPayment"
        tools:targetApi="31">
        <activity
            android:name=".qrscanner"
            android:exported="false" />
        <activity
            android:name=".bkashpaydone"
            android:exported="false" />
        <activity
            android:name=".bkashpay"
            android:exported="false" />
        <activity
            android:name=".bkash"
            android:exported="false" />
        <activity
            android:name=".wallet"
            android:exported="false" />
        <activity
            android:name=".contacthelp"
            android:exported="false" />
        <activity
            android:name=".schedule"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".paymentsuccess"
            android:exported="false" />
        <activity
            android:name=".destiqrscan"
            android:exported="false" />
        <activity
            android:name=".sourceDesti"
            android:exported="false" />
        <activity
            android:name=".manualDesti"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>